@import '_variables.scss';

#contact-greeting {
  h1 {
    text-transform: uppercase;
    font-size: 68px;
  }
}


#contact-form {
  input:focus,
  textarea:focus 
   {
    border-color: $green !important;
    box-shadow: 0 0 8px $green !important;
  }

  label {
    color: $brand;
  }

  textarea {
    resize: none;
    margin-bottom: 15px;
  }

  button {
    background-color: transparent;
  }
}