@import '_variables.scss';

#contact-greeting {
  h1 {
    text-transform: uppercase;
    font-size: 68px;
  }
}


#contact-form {
  input:focus,
  textarea:focus 
   {
    border-color: $body !important;
    box-shadow: 0 0 8px $body !important;
  }

  label {
    color: $body;
  }

  textarea {
    resize: none;
    margin-bottom: 15px;
  }

  button {
    height: 45px;
    width: 100px;
    font-family: 'Montserrat', sans-serif;
    background-color: $light-purple;
    color: $white;
    border: 1px solid $light-purple;
    padding: 5px 15px;
    text-transform: uppercase;
  }
  button:hover {
    transition: background-color 0.5s ease;
    background-color: transparent;
    color: $light-purple;
    border: 1px solid $light-purple;
  }
}

#form-section {
  padding-top: 0;
}