@import '_variables.scss';

body {
  font-size: 18px;
  line-height: 28px;
  font-family: 'Domine', serif;
}

img {
  max-width: 100%;
}

// Type

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  color: $brand;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

section {
<<<<<<< HEAD
  // margin: 50px 0;
=======
>>>>>>> 42e91020f9019daa036bc3e243f1134ab02cd88e
  padding: 75px 0;
}

// Site Nav

.navbar {
  border: none;
}

.navbar-brand {
  padding-top: 0;
}

.navbar.navbar-default {
  margin-bottom: 0;
  padding-top: 10px;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  .navbar-toggle {
    border: none;
  }

  .navbar-toggle:hover {
    background-color: transparent;
  }
}

.navbar-default .navbar-nav > li > a {
  color: $black;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav > li > a {
  padding: 10px 25px;
}

.contact {
  color: $green !important;
  border: 1px solid $green;
}

#sub-footer {
  padding-bottom: 0;
  color: $white;
  h2 {
    color: $white;
  }

  .box {
    height: 265px;
    text-align: center;
  }

  .box1 {
    background-color: $light-blue;
    border-right: 1px solid $white;
  }

  .box2 {
    background-color: $blue;
    border-left: 1px solid $white;
  }

}

footer {
  position: relative;
  text-align: center;
  padding: 50px 0;
  background-color: $brand;
  color: $grey;
  h2, a {
    color: $white;
  }

  p {
    margin-bottom: 50px;
  }

  ul {
    margin-top: 50px;
  }

  li {
    padding-right: 25px;
    display: inline;
  }

  .copyright {
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .fa {
    font-size: 22px;
  }

  input {
    width: 425px;
    height: 45px;
  }

  button {
    height: 45px;
    font-family: 'Montserrat', sans-serif;
    background-color: $green;
    border: none;
    padding: 5px 15px;
    text-transform: uppercase;
  }
}

footer:before {
    content:'';
    position: absolute;
    top: -50px;
    left: 50%;
    z-index: 1000;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-bottom: solid 50px $brand;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}

.center {
  display: flex;
  justify-content: center;
}

.shot {
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}