@import '_variables.scss';

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
  font-size: 18px;
  line-height: 28px;
  font-family: 'Domine', serif;
  color: $body;
  margin: 0;
}

img {
  max-width: 100%;
}

// Type

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  color: $purple;
}

h1 {
  font-size: 45px;
  letter-spacing: 2px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

section {
  padding: 75px 0;
}

// Site Nav

.navbar {
  border: none;
  padding: 0 50px;
  background-color: $plum;
  border-radius: 0;
}

.navbar-right {
  padding: 30px 0;
}

.navbar-brand {
  padding-top: 0;
}

.navbar.navbar-default {
  margin-bottom: 0;
  padding-top: 10px;
}

.navbar-default {

  .navbar-toggle {
    border: none;
  }

  .navbar-toggle:hover {
    background-color: transparent;
  }
}

.navbar-default .navbar-nav > li > a {
  color: $body;
}
.navbar-default .navbar-nav > li > a:hover {
  color: $light-purple;
}

.nav > li > a {
  padding: 10px 25px;
}

@media (max-width: 700px) {
  .navbar {
    padding: 0;
  }
}

@media (max-width: 1170px) {
  .nav > li > a {
    padding: 10px 10px;
  }

  .navbar-brand img {
    width: 200px;
    padding-top: 15px;
  }
}
/* Collapse nav at 991px instead of 768px */
@media (max-width: 991px) {
     .navbar-brand img {
        width: 125px;
        padding-top: 10px;
    }
    .navbar-right {
      padding: 0;
    }

    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

a.btn.contact {
  color: $light-purple !important;
  border: 1px solid $light-purple;
}

a.btn.contact:hover {
  color: $white !important;
  background-color: $light-purple !important;
  border: 1px solid $light-purple;
}

#sub-footer {
  padding-top: 0;
  padding-bottom: 0;
  color: $white;
 
  h2 {
    color: $white;
  }
  .btn {
    background-color: $plum;
    color: $white;
    text-transform: uppercase;
    border-color: $plum;
  }
  .btn:hover {
    transition: background-color 0.5s ease;
    background-color: transparent;
    color: $plum;
    border-color: $plum;
  }

  .box {
    height: 265px;
    padding-top: 30px;
    text-align: center;
  }

  .box1 {
    background: -webkit-linear-gradient(left, $purple, $purple2, $light-purple);
    border-right: 1px solid $plum;
  }

  .box2 {
    background: -webkit-linear-gradient(left, $light-purple, $purple2, $purple);
    border-left: 1px solid $plum;
  }

}

footer {
  position: relative;
  text-align: center;
  padding: 50px 0;
  background-color: $plum;
  color: $body;
  h2, a {
    color: $green;
  }
  a:hover {
    color: $green;
    text-decoration: underline;
  }
  p {
    margin-bottom: 50px;
  }

  ul {
    margin-top: 50px;
  }

  li {
    padding-right: 25px;
    display: inline;
  }

  .copyright {
    margin-top: 50px;
    margin-bottom: 0;
  }

  .fa {
    font-size: 22px;
  }

  input {
    width: 425px;
    height: 45px;
    padding-left: 10px;
  }

  button {
    height: 45px;
    font-family: 'Montserrat', sans-serif;
    background-color: $light-purple;
    color: $white;
    border: 1px solid $light-purple;
    padding: 5px 15px;
    text-transform: uppercase;
  }
  button:hover {
    transition: background-color 0.5s ease;
    background-color: transparent;
    color: $light-purple;
    border: 1px solid $light-purple;
  }
}

footer:before {
    content:'';
    position: absolute;
    top: -50px;
    left: 50%;
    z-index: 1000;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-bottom: solid 50px $plum;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}

@media(max-width: 991px) {
  footer:before {
    display: none;
  }
}

@media(max-width: 566px) {
  footer input {
    width: 65%;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.shot {
  text-align: center;
  text-transform: uppercase;
}