@import '_variables.scss';

.navbar-default .navbar-nav > li > a {
  color: $white;
}

#services {
  // background-image: url('../img/services-bg.jpg');
  background-color: $white;
  h1 {
    font-size: $pageheading;
  }
  span {
    color: $light-purple;
  }
}

.no-gutters {
  // margin-right: 0;
  // margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.services-content {
  padding: 0 75px;
  h1 {
    margin-top: 50px; 
  }

  p {
    margin: 30px 0;
  }
  li {
    line-height: 35px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
}

.first {
  border-top: 1px solid $body;
}

.border-bottom hr {
  margin-top: 0;
  margin-left: 0;
  width: 50px;
  border-color: $body;
}

@media (max-width: 1189px) {
  .mobile-img img {
    margin-top: 50px;
  }
  .services-content {
    padding: 0 20px;
    li {
      line-height: 25px;
      letter-spacing: -0.5px;
    }
  }
}