@import '_variables.scss';

.navbar-default .navbar-nav > li > a {
  color: $white;
}

#services {
  height: 700px;
  padding: 0 50px;
  background-image: url('../img/services-bg.jpg');
  text-align: center;
  color: $white;
  h1 {
    margin-top: 200px;
    margin-bottom: 20px;
    color: $white;
  }
  span {
    color: $green;
  }
}

.no-gutters {
  // margin-right: 0;
  // margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

h2 {
  line-height: 50px;
  text-align: center;
  color: $green;
}

.heading-wrapper h1 {
  font-size: 68px;
  margin-bottom: .75em;
}

.services-content {
  padding: 0 75px;
  h1 {
    margin-top: 50px; 
  }

  p {
    margin: 30px 0;
  }
  li {
    line-height: 35px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
}

.border-bottom hr {
  margin-top: 0;
  margin-left: 0;
  width: 50px;
}