@import '_variables.scss';

#story {
  h1 {
    text-transform: uppercase;
    font-size: $pageheading;
  }
}

#meet-us {
  h4 {
    font-style: italic;
    padding-bottom: 20px;
  }
  .img-wrap-payton {
    display: flex;
    justify-content: flex-start;
  }

  .img-wrap-evan {
    display: flex;
    justify-content: flex-end;
  }
}

#meet-us-top,
#story-shot {
  padding-top: 0 !important;
}