html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-size: 18px;
  line-height: 28px;
  font-family: 'Domine', serif;
  color: #747d93;
  margin: 0; }

img {
  max-width: 100%; }

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  color: #515c71; }

h1 {
  font-size: 45px;
  letter-spacing: 2px; }

ul {
  padding: 0; }

li {
  list-style-type: none; }

section {
  padding: 75px 0; }

.navbar {
  border: none;
  padding: 0 50px;
  background-color: #2b2f3e;
  border-radius: 0; }

.navbar-right {
  padding: 30px 0; }

.navbar-brand {
  padding-top: 0; }

.navbar.navbar-default {
  margin-bottom: 0;
  padding-top: 10px; }

.navbar-default .navbar-toggle {
  border: none; }
.navbar-default .navbar-toggle:hover {
  background-color: transparent; }

.navbar-default .navbar-nav > li > a {
  color: #747d93; }

.navbar-default .navbar-nav > li > a:hover {
  color: #727df0; }

.nav > li > a {
  padding: 10px 25px; }

a.btn.contact {
  color: #727df0 !important;
  border: 1px solid #727df0; }

a.btn.contact:hover {
  color: #fff !important;
  background-color: #727df0 !important;
  border: 1px solid #727df0; }

#sub-footer {
  padding-top: 0;
  padding-bottom: 0;
  color: #fff; }
  #sub-footer h2 {
    color: #fff; }
  #sub-footer .btn {
    background-color: #2b2f3e;
    color: #fff;
    text-transform: uppercase;
    border-color: #2b2f3e; }
  #sub-footer .btn:hover {
    transition: background-color 0.5s ease;
    background-color: transparent;
    color: #2b2f3e;
    border-color: #2b2f3e; }
  #sub-footer .box {
    height: 265px;
    padding-top: 30px;
    text-align: center; }
  #sub-footer .box1 {
    background: -webkit-linear-gradient(left, #515c71, #6461a1, #727df0);
    border-right: 1px solid #2b2f3e; }
  #sub-footer .box2 {
    background: -webkit-linear-gradient(left, #727df0, #6461a1, #515c71);
    border-left: 1px solid #2b2f3e; }

.content {
  padding: 0 5%; }

.l-col {
  padding-left: 0;
  padding-right: 2.5%; }

.r-col {
  padding-right: 0;
  padding-left: 2.5%; }

footer {
  position: relative;
  text-align: center;
  padding: 50px 0;
  background-color: #2b2f3e;
  color: #747d93; }
  footer h2, footer a {
    color: #5acbad; }
  footer a:hover {
    color: #5acbad;
    text-decoration: underline; }
  footer p {
    margin-bottom: 50px; }
  footer ul {
    margin-top: 50px; }
  footer li {
    padding-right: 25px;
    display: inline; }
  footer .copyright {
    margin-top: 50px;
    margin-bottom: 0; }
  footer .fa {
    font-size: 22px; }
  footer input {
    width: 425px;
    height: 45px;
    padding-left: 10px; }
  footer button {
    height: 45px;
    font-family: 'Montserrat', sans-serif;
    background-color: #727df0;
    color: #fff;
    border: 1px solid #727df0;
    padding: 5px 15px;
    text-transform: uppercase; }
  footer button:hover {
    transition: background-color 0.5s ease;
    background-color: transparent;
    color: #727df0;
    border: 1px solid #727df0; }

footer:before {
  content: '';
  position: absolute;
  top: -50px;
  left: 50%;
  z-index: 1000;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-bottom: solid 50px #2b2f3e;
  border-left: solid 50px transparent;
  border-right: solid 50px transparent; }

.center {
  display: flex;
  justify-content: center; }

.shot {
  text-align: center;
  text-transform: uppercase; }

/*# sourceMappingURL=global.css.map */
